## Ignore all files
/*

## Include project files
!/src/
!/docker/

# Backend
!system.properties

# Infrastructure
!.env
!.editorconfig
!Makefile
!.gitignore
!.dockerignore

# Documentation
!README.md
!CONTRIBUTING.md

## Exclude IDE files
# JetBrains
*.iml
.idea/
