## Ignore all files
/*

## Include project files
!/cmd/
!/internal/
!/pkg/
!/docker/

# Backend
/.go
/vendor
/build/bin
!go.mod
!system.properties

# Infrastructure
!.env
!.editorconfig
!Makefile
!.gitignore
!.dockerignore

# Documentation
!README.md
!CONTRIBUTING.md

## Exclude IDE files
# JetBrains
*.iml
.idea/
